.linkSubImage:hover {
    /* border: 2px solid #420dab; */
    box-shadow: 5px 5px 10px #420dab;
}

.linkSubImage {
    transition: box-shadow 0.2s;
}

.linkSubImageTotal {
    transition: color 0.2s;
    color: black;
    /* font-weight: bold; */
}

.linkSubImageTotal:hover {
    color: #420dab;
}