:root {
    --headerTagColor: black;
    --mainColor: black;
    --debugHeaderColor: gray;
    --backgroundColor: rgb(245, 245, 245);
}

a {
    outline: 0;
}

.debugheader {
    height: 18px;
    background-color: var(--debugHeaderColor);
    margin-top: 28px;
}

body {
    margin: 0;
    overflow-y: scroll !important;
    height: 100%;
    padding: 0 !important;
    background-color: var(--backgroundColor);
}

header {
    padding: 0 !important;
}

@font-face {
    font-family: "Abel";
    src: url(http://2018.igem.org/wiki/images/7/7d/T--Washington--AbelFont.TTF) format("truetype");
}

@font-face {
    font-family: "Seg";
    src: url(http://2018.igem.org/wiki/images/c/ce/T--Washington--SegoeUIL.ttf) format("truetype");
}

@font-face {
    font-family: "Leixo";
    src: url(http://2018.igem.org/wiki/images/4/4a/T--Washington--LeixoFont.ttf) format("truetype");
}

@font-face {
    font-family: "Raleway";
    src: url(http://2018.igem.org/wiki/images/1/11/T--Washington--RalewayRegular.ttf) format("truetype");
}

@font-face {
    font-family: "RalewayBold";
    src: url(http://2018.igem.org/wiki/images/c/cb/T--Washington--RalewayBold.ttf) format("truetype");
}

.App,
#root {
    margin: 0px;
    margin-top: -18px;
    padding: 0;
    height: 100vh;
    font-family: Raleway, sans-serif;
    width: 100%;
    background-color: var(--backgroundColor);
    color: var(--mainColor);
    /* temporary */
}

#root {
    top: 8px;
    width: 100%;
    position: absolute;
    background-color: var(--backgroundColor);
    color: var(--mainColor);
    font-size: 12pt;
    font-family: sans-serif;
}

/* Wiki overrides */

#globalWrapper {
    font-size: 100%;
    padding: 0;
}

#top_menu_under,
#top_menu_14,
#top_menu_inside {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 16px;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
    padding-top: 15px;
    border: none;
    font-size: default;
    font-size: 24pt;
    font-weight: bold;
    font-family: 'RalewayBold';
    color: var(--headerTagColor);
}

a[href ^="https://"] {
    padding: 0;
}

.submenu div {
    line-height: 1.5em;
}

#contentBox {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 0;
    margin: 0;
    line-height: normal;
    position: absolute;
    top: 10px;
    background: #C6c6c6;
}

/* li,
ul {
    margin: 0;
    line-height: normal;
    list-style-type: none;
    list-style-image: none;
    display: block;
} */

.mw-content-ltr ul,
.mw-content-rtl .mw-content-ltr ul {
    margin: 0;
    padding: 0;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 16px;
}

#top_menu_inside ul a {
    line-height: 1.5em;
}

table {
    margin: auto;
    background: none;
    width: 80%;
    border-collapse: collapse;
}

th,
td {
    padding: 2px;
    border-bottom: 2px solid #ddd;
}

tr:hover {
    background-color: #ddd;
}

pre,
code {
    padding: 0px;
    border: none;
    background: none;
    line-height: inherit;
}